@import url(navbar.css);
@import url(undermain.css);
@import url(section1.css);
@import url(section2.css);
@import url(footer.css);
@import url(home.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Inter', sans-serif;


}



:root{


  --primary-color:#228898;
  --secondary-color:#00C4EC;

  --color:#9780EA;
}










