body {
  margin: 0;
  padding: 0;
  background-color: rgb(249, 250, 215);
}

.container {
  list-style: none;
  display: flex;
  background-color: lightgreen;
}

.image-section {
  height: 175px;
}
.fa-apple {
  font-size: 70px;
}

.fa-opera {
  font-size: 70px;
}
.fa-windows {
  font-size: 70px;
}

.fa-twitter {
  font-size: 25px;
}
.fa-square-instagram {
  font-size: 25px;
}
.fa-facebook {
  font-size: 25px;
}

h2 i {
  float: left;
}

.cards .img-muzan {
  background-image: url("images/muzan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.cards .img-nezuko {
  background-image: url("images/nezuko.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .img-inosuke {
  background-image: url("images/inosuke.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .img-regoku {
  background-image: url("images/regoku.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .img-Tengei {
  background-image: url("images/Tengei.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .img-tanjiro {
  background-image: url("images/tanjiro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  display: flex;
  padding: 4px;
}

.grid-cards {
  width: 60%;
  margin: 20px auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.grid-container {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.content {
  padding: 20px 10px;
  text-align: center;
}
.text-box {
  width: 400px;
  margin-left: 10%;
  gap: 50px;

  text-align: left;
  margin: 0 auto;
  top: auto;
  transform: translateY(32%);
}

body h1 {
  text-align: center;
  font-size: 50px;
  font-size: 3em;
}

body h2 {
  text-align: center;
  font-size: 50px;
  font-size: 3em;
}

body section {
  align-items: center;
  text-align: center;
}

.wraper img {
  width: 600px;
  height: 400px;
  display: flex;
}
.wraper h1 {
  color: crimson;
}

.wraper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: goldenrod;
  justify-content: space-between;
}
.official-site {
  text-align: center;
  justify-content: left;
}
.official-site {
  text-align: left;
  padding-right: 200px;
  margin: 10%;
}

.logo {
  height: 10px;
  width: 100px;
  padding-bottom: 40px;
}

ul img {
  width: 40px;
  height: 40px;
  margin-right: auto;
}
.buttons {
  padding-right: 30px;
  float: inline-end;
}
.buttons a:hover {
  color: black;
}
.buttons a {
  text-decoration: none;
}
.buttons {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer i {
  float: right;
  padding-right: 30px;
}
footer i:hover {
  transform: translateY(-10px);
}

footer {
  background: #9b9e00;
  height: auto;
  width: 100vw;
  padding-bottom: 40px;
  color: #fff;
}

.footer-left {
  width: 120px;
  height: 120px;
  margin-right: auto;
}
.official-site {
  margin: 50px;
}
.slayer-pic {
  height: 300px;
  width: 300px;
  float: right;
  margin: auto;
}

.official-site .slayer-pic {
  text-align: right;
 padding-right:  -200px; 
}

.official-site {
  text-align: left;
  padding-right: 200px;
  margin: 10%;
}
.slayer-pic img {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  padding-right:  -200px;
}
.socials i {
  align-content: left;
  align-items: left;
}
